/* ==========variable ========== */
:root {
    --primary: #00a0aa;
    --white: #FFF;
    --black: #000;
    --h-color: #081e29;
    --t-color: #34454F;
    --dark-teal-bg: #004756;
}

/*  ========== common/deafult css  ==========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Satoshi';
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1235px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* ============== Component ============== */
.btn {
    border-radius: 3px;
    background-color: var(--primary);
    font-size: 17px;
    line-height: 25px;
    font-weight: 700;
    color: var(--white);
    padding: 10px 25px;
    display: inline-block;
    transition: all 300ms ease;
}
.btn:hover{
    opacity: 0.8;
}
.btn-transparent{
    background-color: transparent;
    border: 2px solid var(--white);
    transition: all 300ms ease;
}
.btn-transparent:hover{
    color: var(--black);
    background-color: var(--white);
}

.heading{
    margin-bottom: 50px;
}
.heading h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: var(--primary);
    margin-bottom: 25px;
}
.heading h2{
    font-size: 46px;
    font-weight: 700;
    line-height: 64px;
    color: var(--h-color);
    max-width: 550px;
}
.heading p{
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    color: var(--t-color);
}


/* ============== Header ===============  */
header {
    background-color: #e0fffc;
    padding-bottom: 50px;
}

header .container {
    max-width: 1285px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header-top ul {
    list-style: none;
    display: flex;
}

.header-top ul li a i {
    color: var(--primary);
    font-size: 18px;
    margin-right: 10px;
    display: inline-block;
}

.header-top ul li a {
    font-size: 15px;
    font-weight: 500;
    color: var(--h-color);
    display: flex;
    align-items: center;
}

.header-top ul li {
    padding: 0 15px;
}

.header-top .header-whatsapp li a i {
    font-size: 24px;
}

.header-main {
    padding: 30px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(11, 16, 56, 0.05);
}

.header-main .row {
    align-items: center;
    justify-content: space-between;
}

.header-main .menu {
    display: flex;
    list-style: none;
}

.header-main .menu li {
    padding: 0 20px;
}

.header-main .menu li a {
    font-weight: 700;
    line-height: 22px;
    color: #222222;
}

.header-main .menu li a.active {
    color: var(--primary);
}

.header-main .appoint .appoint-call {
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    color: var(--h-color);
    margin-right: 25px;
}

.header-main .appoint .appoint-call i {
    margin-right: 7px;
}

.header-main .appoint a.btn {
    font-size: 15px;
    padding: 10px 15px;
}

/* =============== Banner ================= */
.banner {
    background-color: #e0fffc;
    padding-top: 70px;
}

.banner-text {
    padding-top: 100px;
}

.banner-text h4 {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary);
    line-height: 32px;
    margin-bottom: 3 0px;
}

.banner-text h1 {
    font-size: 70px;
    font-weight: 700;
    color: var(--h-color);
    line-height: 90px;
    margin-bottom: 50px;
}

.banner-btn {
    display: flex;
    align-items: center;
}

.banner-call {
    display: inline-block;
}

.banner-call {
    font-size: 17px;
    line-height: 23px;
    font-weight: 700;
    color: var(--h-color);
    margin-left: 30px;
}

.banner-call p {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: var(--h-color);
    margin-bottom: 5px;
    text-transform: uppercase;
}

.banner-call i {
    font-size: 14px;
    margin-right: 7px;
}

.banner-image img {
    width: 85%;
}

.banner-image {
    position: relative;
}

.banner-sticker {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(11, 16, 56, 0.05);
    display: flex;
    align-items: center;
    animation: vivek 5s linear infinite alternate;
}

@keyframes vivek {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

.banner-sticker i {
    font-size: 26px;
    margin-right: 10px;
    color: #ffbdbc;
    -webkit-text-stroke: 1px #000;
}

.banner-sticker p {
    font-weight: 600;
    line-height: 22px;
}

/* ============= Treatment ============= */
.treatment {
    padding: 150px 0;
    background-color: var(--primary);
}

.treatment .col-4 {
    padding: 0 20px;
}

.treatment .treat-head {
    font-size: 46px;
    font-weight: 700;
    line-height: 64px;
    color: var(--white);
    max-width: 500px;
    margin-bottom: 50px;
}

.treatment .treat-info {
    font-size: 20px;
    line-height: 36px;
    color: var(--white);
}

.treatment .treat-data {
    position: relative;
    padding: 15px 55px;
    background-color: var(--white);
    width: max-content;
    border-radius: 5px;
    text-align: center;
    margin: -30px auto 0;
    z-index: 1;
    height: 80px;
    overflow: hidden;
}
.treatment .treat-data *{
    transition: all 0.5s;
}
.treatment .treat-data:hover h5,
.treatment .treat-data:hover h3,
.treatment .treat-data:hover button{
    transform: translateY(-38px);
}

.treatment .treat-data h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: var(--primary);
}

.treatment .treat-data h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: var(--h-color);
    margin-bottom: 10px;
}

.treatment .treat-data button {
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: var(--h-color);
}

.treatment .treat-data button i {
    margin-left: 7px;
}

/* ============ Services ============= */
.services{
    background-color: #f0fffe;
    padding: 120px 0;
}
.services .heading{
    text-align: center;
}
.services .row{
    /* justify-content: space-between; */
}
.services .heading h2{
    margin: 0 auto;
}
.services .services-card{
    width: 20%;
    text-align: center;
}
.services .services-image{
    background-color: var(--white);
    box-shadow: 0 12px 34px 0 rgba(14, 17, 44, 0.1);
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin: 0 auto 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .services-card h4{
    font-weight: 700;
    line-height: 24px;
}
.services .services-btn{
    margin-top: 50px;
    text-align: center;
}

/* =========== Why-us ============ */
.why-us{
    padding: 120px 0;
    background-color: var(--dark-teal-bg);
}
.why-us .row{
    align-items: center;
}
.why-list {
    background-color: var(--white);
    width: max-content;
    padding: 45px 100px 45px 55px;
    border-radius: 20px;
    box-shadow: 0 5px 50px 10px rgba(0, 0, 0, 0.07);
    margin: 0 auto;
}
.why-list h3{
    font-size: 26px;
    color: var(--h-color);
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 30px;
}
.why-list ul{
    list-style: none;
}
.why-list ul li{
    font-size: 17px;
    font-weight: 500;
    line-height: 56px;
    display: flex;
    align-items: center;
}
.why-list ul li i{
    font-size: 24px;
    color: var(--primary);
    margin-right: 15px;
}
.why-data{
    color: var(--white);
}
.why-data h2{
    font-size: 46px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 15px;
}
.why-data p{
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 30px;
}
.why-data .btn-transparent:hover{
    border-color: var(--primary);
    background-color: var(--primary);
}

/* ========== Checkup ============ */
.checkup{
    padding: 120px 0;
    background-color: #f0fffe;
}
.checkup .heading{
    text-align: center;
}
.checkup .heading h2,
.checkup .heading p{
    margin: 0 auto;
}
.checkup .heading p{
    max-width: 500px;
    margin-top: 20px;
}
.health-option{
    list-style: none;
    display: flex;
    background-color: var(--white);
    width: max-content;
    margin: 0 auto;
    padding: 10px 5px;
    border-radius: 7px;
    box-shadow: 8px 8px 34px 0 rgba(14, 17, 44, 0.1);
    margin-bottom: 70px;
}
.health-option li{
    padding: 0 10px;
}
.health-option li a{
    padding: 10px 15px;
    color: var(--h-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    display: inline-block;
}
.health-option li a.active{
    background-color: var(--primary);
    border-radius: 7px;
    color: var(--white);
}
.check-data{
    margin-top: 70px;
    max-width: 480px;
}
.check-data .check-icon{
    margin-bottom: 30px;
}
.check-data .check-icon i{
    font-size: 40px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 67px;
    text-align: center;
}
.check-data h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 30px;
    color: var(--h-color);
}
.check-data p{
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    color: var(--t-color);
    margin-bottom: 30px;
}
.check-data ul{
    list-style: none;
    margin-bottom: 30px;
}
.check-data ul li{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.check-data ul li i{
    font-size: 22px;
    margin-right: 15px;
}

/* ========== Review ========= */
.review{
    padding: 120px 0;
    background-color: var(--dark-teal-bg);
}
.review .row{
    align-items: center;
}
.review .arrow i{
    font-size: 22px;
    color: var(--white);
    height: 65px;
    width: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.102);
    transition: all 0.5s;
}
.review .arrow i:hover{
    background-color: var(--white);
    cursor: pointer;
    color: var(--primary);
}
.review .next-arrow{
    text-align: right;
}
.review-data{
    color: var(--white);
    position: relative;
}
.review-data h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding: 40px 0 30px;
}
.review-data h5{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 5px;
}
.review-data p{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.review .review-image{
    position: relative;
}
.review .review-image .play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.review .review-image .play-btn i{
    font-size: 22px;
    color: var(--black);
    height: 65px;
    width: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--white);
    transition: all 0.5s;
}
.review .review-image .play-btn i:hover{
    color: var(--primary);
    cursor: pointer;
}

/* =========== Contact ========= */
.contact{
    padding: 120px 0;
    background-color: #d4fffc;
}
.contact .row{
    align-items: center;
}
.contact .heading h4{
    font-weight: 900;
}
.contact .heading h2,
.contact .heading p{
    max-width: 500px;
    margin-bottom: 30px;
}
.contact-social{
    list-style: none;
}
.contact-social li{
    padding: 15px 0;
}
.contact-social li a{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: var(--h-color);
}
.contact-social li a i{
    font-size: 10px;
    background-color: var(--primary);
    color: transparent;
    -webkit-text-stroke: 0.5px var(--white);
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}
.contact form{
    background-color: var(--white);
    padding: 45px;
    border-radius: 20px;
    box-shadow: 0 5px 50px 10px rgba(0, 0, 0, 0.07);
    max-width: 535px;
}
.contact form .field > *{
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #cfcfd5;
}
.contact form .field > *::placeholder{
    color: var(--h-color);
    font-size: 15px;
    font-weight: 500;
    font-family: 'Satoshi';
}
.contact form .field > *:focus{
    outline: 1px solid var(--primary);
}
.contact form .field textarea{
    height: 120px;
    resize: vertical;
}
.contact form .field select{
    font-size: 15px;
    line-height: 26px;
    font-family: 'Satoshi';
    font-weight: 500;
}
.contact form .field button{
    margin-bottom: 0;
}
/* ========== Footer ========== */
footer{
    padding: 70px 0 50px 0;
    background-color: var(--dark-teal-bg);
}
footer .footer-main{
    margin-bottom: 40px;
}
.footer-btn{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.footer-btn a{
    max-width: 235px;
    border: 1px solid var(--white);
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}
.footer-btn a i{
    margin-right: 10px;
    font-size: 18px;
}

footer .col-2 h4{
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}
footer .footer-menu{
    list-style: none;
}
footer .footer-menu li{
    padding: 10px 0;
}
footer .footer-menu li a{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: var(--white);
    opacity: 0.7;
    transition: all 0.5s;
}
footer .footer-menu li a:hover{
    transform: translateX(10px);
    opacity: 1;
}
.footer-strip .row{
    justify-content: space-between;
    align-items: center;
}
.footer-strip p{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
}
.footer-strip .footer-social{
    list-style: none;
    display: flex;
}
.footer-strip .footer-social li{
    padding: 0 16px;
}
.footer-strip .footer-social li a{
    color: var(--white);
    opacity: 0.5;
    font-size: 16px;
    transition: all 0.5s;
}
.footer-strip .footer-social li a:hover{
    opacity: 1;
}


